.adress {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map__content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.map__content img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer__img {
  height: 100%;
  display: flex;
}

.footer__img img {
  width: 100%;
}
