.slider {
  background-color: #fff;
  margin-bottom: 150px;
}

.slider__quote {
  margin: 50px auto 70px;
  text-align: center;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__content {
  position: relative;

  height: 190px;
}

.slider__item {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 100%;
}

.slide-active {
  opacity: 1;
  transition: all 1s ease-in;
}

.slider__description {
  width: 40%;
  height: 60px;
  overflow: hidden;
  padding-top: 60px;
  text-align: right;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.slider__photo {
  text-align: center;
  margin: auto;
  width: 50%;
}

.slider__person {
  padding-top: 60px;
  width: 40%;
  color: #565656;
}

.slider__name {
  font-size: 28px;
  font-weight: 400;
}

.slider__name span {
  color: #fc635e;
}

.slider__post {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}

.slider__arrows-content {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 40px;
  text-align: center;
  width: 100px;
}

.slider__left,
.slider__right {
  cursor: pointer;
}

@media (max-width: 768px) {
  .slider__content {
    height: 300px;
  }
  .slider__item {
    width: 100%;
    flex-direction: column;
  }
  .slider__description {
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding-top: 0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .slider__photo {
    width: 100%;
  }
  .slider__person {
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
