.team {
  background-color: #f2f2f2;
}

.team__title {
  padding: 50px 0 70px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 200px;
}

.team__title::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  left: 32px;
  top: 119px;
  background-color: #868686;
}

.team__cards-content {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.team__card-item {
  text-align: center;
  color: #565656;
  margin: 0 auto;
  width: 100%;
}

.team__card-name {
  font-size: 28px;
  font-weight: 500;
  margin: 20px auto 15px;
}

.team__card-name span {
  color: #fc635e;
}

.team__card-post {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 15px;
}

.team__card-social {
  position: relative;
}

.team__card-social img {
  margin: 0 5px;
  cursor: pointer;
}

.team__card-icon {
  position: relative;
}

.team__card-icon-filter img {
  position: relative;
  top: -42px;
  opacity: 0;
  transition: all 0.4s ease;
}

.team__card-icon-filter img:hover {
  opacity: 1;
  transition: all 0.4s ease;
}

@media (max-width: 1150px) {
  .team__cards-content {
    width: 100%;
    /* flex-wrap: wrap; */
  }
}
@media (max-width: 1000px) {
  .team__cards-content {
    width: 100%;
    flex-wrap: wrap;
  }
}
