.landing {
  background-color: #f2f2f2;
}

.landing__title {
  text-align: center;
  padding-top: 55px;
  position: relative;
}

.landing__context {
  margin: 80px 0 0 0;
  display: flex;
}

.landing__left {
  height: 380px;
}

.landing__title::after {
  content: "";
  position: absolute;
  width: 225px;
  height: 1px;
  background-color: #868686;
  top: 125px;
  left: 355px;
}

.left__title {
  font-size: 28px;
  font-weight: 500;
  color: #868686;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
}

.left__title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 40px;
  background-color: #fc635e;
  left: -18px;
}

.left__description {
  margin: 20px 0 0 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  height: 30%;
  width: 90%;
  overflow: hidden;
}

.left__button {
  margin: 40px 0 0 0;
}

.left__button-content {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  width: 165px;
  background-color: #fc635e;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

.left__button-content:hover {
  transition: all 0.4s ease;
  transform: scale(1.05);
}

.landing__right {
  height: 100%;
}

.advertising {
  background-color: #fff;
}

.advertising__content {
  margin: 125px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.advertising__text {
  height: 380px;
}

.advertising__title {
  font-size: 28px;
  font-weight: 500;
  color: #868686;
  text-transform: uppercase;
  position: relative;
  float: right;
  margin-right: 20px;
}

.advertising__title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 40px;
  background-color: #fc635e;
  left: 187px;
}

.advertising__description {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  height: 30%;
  width: 100%;
  text-align: right;
  overflow: hidden;
}

.advertising__button-content {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  width: 165px;
  background-color: #fc635e;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.advertising__button {
  margin: 40px 0 0 0;
  float: right;
}

.advertising__button-content:hover {
  transition: all 0.4s ease;
  transform: scale(1.05);
}

.marketing {
  background-color: #f2f2f2;
}

.marketing__context {
  padding: 125px 0 0 0;
  display: flex;
}
